#about {
    background: #0284A8;
    padding: $navbar-height 0;
    color: white;
    font-family: 'Open Sans', sans-serif;

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .about {
        display: flex;
        align-items: center;
    
        .about-content {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 300px;
                height: 300px;
                padding: 20px;
            }
            
            p {
                width: 700px;
                padding: 20px;
                font-size: 20px; 
            }
        } 
    }
}
