.experience {
    width: 100vw;
    padding: 66px 0;
    background: #02BEC4;
    color: white;
    font-family: 'Open Sans', sans-serif;

    h2 {
        font-size: 30px;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media all and (max-width: 900px) {
            flex-direction: column;
        }
        
        img {
            width: 400px;
            height: 275px;
            padding: 20px;
        }
        
        p {
            width: 700px;
            padding: 20px;
            font-size: 20px; 

            @media all and (max-width: 900px) {
                width: auto;
                order: 1;
            }
        }
    } 

}
