@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(11,84,123);
}