nav {
    width: 100vw;
    background: rgb(11, 84, 123);
    position: fixed;
    box-shadow: 0 10px 25px rgb(11,84,123); 
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width: 600px) {
        position: relative;
        flex-direction: column;
        box-shadow: none;
    }
    
    a {
        padding: 15px 30px;
        color: white ;
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        cursor: pointer;
    }                

    a:hover {
        background-color: rgb(2, 74, 168);
    } 
}