@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');
$navbar-height: 70px;

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(11,84,123);
}

nav {
    width: 100vw;
    height: $navbar-height;
    margin-bottom: $navbar-height;
    background: rgb(11, 84, 123);
    position: fixed;
    box-shadow: 0 10px 25px rgb(11,84,123); 
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
        height: $navbar-height;
        width: 140px;
        padding: 0 50px;
        line-height: $navbar-height;
        color: white ;
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }                

    a:hover {
        background-color: rgb(2, 74, 168);
    } 
}


#landing {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-image: url('http://via.placeholder.com/1280x584');

    p {
        text-align: center;
        color: white ;
        font-size: 80px;
        font-family: 'Lobster', cursive;
    }
}


#about {
    height: calc(100vh - 70px);
    padding-top: $navbar-height;
    background: #0284A8;
    display: flex;
    align-items: center;

    .about-content {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        img {
            width: 300px;
            height: 300px;
            padding: 20px;
            
        }
        
        p {
            width: 700px;
            padding: 20px;
            color: white;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            border-radius: 10px;
            box-shadow: 2px 2px 10px #000000;
            
            
            
        }
    } 
}
#experience {
    height: calc(100vh - 70px);
    padding-top: $navbar-height;
    background: rgb(2, 190, 196);
    display: flex;
    align-items: center;

    .experience-content {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            width: 700px;
            padding: 20px;
            color: white;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            border-radius: 10px;
            box-shadow: 2px 2px 10px #000000;
            
        }

        img {
            width: 300px;
            height: 300px;
            padding: 20px;
            
        }
    }
}

#contact {
    height: calc(100vh - 70px);
    padding-top: $navbar-height;
    background-color: #A9E8DC;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .contact-content {
        width: 300px;
        height: 200px;
        background-color: #E1F7E7;
        border-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #000000;

        .contact-text {
            color: black;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
        }
    
        .email{
            color: black;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}
